html, body {
  font-family: arial;
  padding: 20
}

#contact {
  text-align: center;
   border: 2px solid #003366;
   border-radius: 5px;
   background-color: #cce6ff;
  position: fixed;
}

#experience {
   border: 2px solid #003366;
   border-radius: 5px;
}

#education {
   border: 2px solid #003366;
   border-radius: 5px;  
}

h1 {
  color: #006666;
}

h2 {
  color: #003366;
}

h3 {
  font-style: italic;
}
