html, body {
  font-family: arial;
  background-color: #cce6ff;
}

div {
	border-radius: 20px;
}

#contact {
  text-align: center;
  border-bottom: 10px solid #003366;
}

#experience {
   padding: 25px 50px 75px 100px;
}

#education {
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
}

h1 {
  color: #006666;
}

h2 {
  color: #003366;	
}

h3 {
  font-style: italic;
}
