html, body {
  font-family: arial;
  padding: 20
}

div {
	border-radius: 20px;
}

#contact {
  text-align: center;
   border: 10px solid #003366;
   border-radius: 5px;
   background-color: #cce6ff;
}

#experience {
   padding: 25px 50px 75px 100px;
}

#education {
   padding: 25px 50px 75px 100px;
}

h1 {
  color: #006666;
}

h2 {
  color: #003366;
}

h3 {
  font-style: italic;
}
